<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="default">

<body>
    <div layout:fragment="content" class="row">
        <div class="col-xs-8 col-md-8" align="center">
            <div>
                <div class="column is-4">
					<section>
					    <div class="hero-body">
					        <div class="container has-text-centered">
					            <h2 class="subtitle">
									a movie experience
								</h2>
					
					            <h3 class="has-text-warning">You must log into an account to do that.</h3>
					
					            <hr/>
					
					        </div>
					    </div>
					</section>
                </div>
            </div>
        </div>
    </div>
</body>

</html>